body {
    background-color: #F4F5F8;
    color: #003B5C;
}

a {
    color: #A8A8A8; /* Light Gray for links */
}

a:hover {
    background-color: #A8A8A8;
    color: #003B5C;
}

h1, h2, h3 {
    color: #003B5C;
}

nav {
    background-color: #003B5C;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: #FFFFFF;
}

nav a:hover {
    background-color: #A8A8A8;
    color: #003B5C;
}

footer p {
    margin: 0;
}

.quote {
    margin: 0;
    float: right;
    color: #003B5C;
}
