/* Body Background Color */
body {
    background-color: #F4F5F8; /* Light Gray for a clean background */
    color: #003B5C; /* Navy Blue text for contrast */
}

/* Text Color */
p, span, a {
    color: #003B5C; /* Navy Blue text for paragraphs, spans, and links */
}

/* Link Color */
a {
    color: #A8A8A8; /* Light Gray for links */
}

a:hover {
    color: #003B5C; /* Navy Blue on hover for links */
}

/* Heading Color */
h1, h2, h3, h4, h5, h6 {
    color: #003B5C; /* Navy Blue for headings */
}

/* Site Navigation Background */
nav {
    background-color: #003B5C; /* Navy Blue for navigation background */
    padding: 10px; /* Add padding to navigation */
    margin-bottom: 30px; /* Add margin to the bottom of the navigation */
}

/* Site Navigation Link Color */
nav a {
    color: #FFFFFF; /* White text for navigation links */
}

/* Site Navigation Highlight Color */
nav a:hover {
    background-color: #A8A8A8; /* Light Gray when hovering over navigation links */
    color: #003B5C; /* Navy Blue on hover for text */
}

footer {
    margin: 0;
}

/* Footer Tagline */
.quote {
    float: right; /* Align tagline to the right */
    color: #003B5C; /* Navy Blue for footer tagline */
}
